body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #ffc4c4;
    font-size: 40px;
    display: flex;
    align-items: center;
    /*alinhar na vertical */
    justify-content: space-between;
    /*alinha horizontal*/
    padding-left: 80px;
    /* Define um espaçamento interno de 80 pixels à esquerda do conteúdo */
    padding-right: 80px;
    /* Define um espaçamento interno de 80 pixels à direita do conteúdo */
    padding-top: 24px;
    /* Define um espaçamento interno de 24 pixels na parte superior do conteúdo */
    padding-bottom: 24px;
    /* Define um espaçamento interno de 24 pixels na parte inferior do conteúdo */
}
.imagem-pequena {
    width: 50px;
    height: auto;
  }
#primeira_parte, #segunda_parte, #terceira_parte, #quarta_parte{
    color: #ffc4c4;
    text-align: center;
}
#primeira_parte{
    font-size: 60px;
}
.sem-sublinhado {
    text-decoration: none !important;
    color: rgb(75, 11, 11);
}

nav {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
}

nav a {
    color: #000;
    font-weight: bold;
    margin-right: 15px; /* Espaçamento entre os links */
}

/* Ajustando a div .toldo para ocupar toda a largura da tela */
.toldo {
    display: flex;
    justify-content: space-between; /* Alinha as imagens na horizontal */
    width: 100%; /* Faz com que a div ocupe 100% da largura da tela */
}

.toldo img {
    width: 100%; /* A imagem agora ocupa 100% da largura disponível */
    height: auto;
}
.teste {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin: 0 auto;          /* Centraliza a div horizontalmente no layout */
    width: 100%;             /* Define a largura da div como 100% do contêiner pai */
}

.teste img {
    max-width: 100%;         /* Garante que a imagem não ultrapasse a largura da div */
}